data:
  batch_size: 128
  dataset:
    name: PolSFDataset
    trainpath: $TMPDIR/data
  transform: LogAmplitude
  img_size: 64
  img_stride: 64
  num_workers: 4
  valid_ratio: 0.15
  test_ratio: 0.15
logging:
  logdir: ./logs
  wandb:
    entity: equivariant_cvnn
    project: polsf
loss:
  name: FocalLoss
  gamma: 5
model:
  activation: modReLU
  channels_ratio: 12
  class: UNet
  res: true
  projection:
    class: ModCtoR
    global: true
    softmax: Softmax
  downsampling: APD
  upsampling: APU
  latent_dim: Null
  dropout : 0.1
  normalization: 
    method: BatchNorm
    track_running_stats: false
  num_layers: 2
nepochs: 350
optim:
  algo: AdamW
  params:
    lr: 0.001
    weight_decay: 0.0005
scheduler:
  algo: StepLR
  params:
    step_size: 1000
    gamma: 1
pretrained: false
world_size: 4
dtype: complex64
